:root {
  --main-color: #643271;
  --sec-color:#D98B1C;
  --heading-color:#232331;
  --text-color: #1E1E1E;
  --white-color:#fff;
  --black-color:#000;
  --main-font: 'EB Garamond', serif;
  --heading-font: 'EB Garamond', serif;
  --button-font: 'EB Garamond', serif;
}
.booknow_btn {
    margin-right: 10px;
}

.booknow_btn a {
    color: #080706;
    background: var(--main-color);
    padding: 8px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 16px;
}

.button_container {
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
    /* background: rgb(0 0 0 / 30%); */
    padding: 3px;
}

.button_container:hover {
    opacity: 0.7;
}

.button_container.active .top {
    transform: translateY(7px) translateX(0) rotate(45deg);
    background: #FFF;
	left:0;
}

.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

.button_container.active .bottom {
    transform: translateY(-9px) translateX(0) rotate(-45deg);
    background: #FFF;
	left:0;
    width: 100%;
}

.button_container span {
    background: var(--white-color);
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 9px;
    left: 50%;
    transition: all 0.35s ease;
    cursor: pointer;
    transform: translate(-50%, 0px);
}

.button_container span:nth-of-type(2) {
    top: 18px;
    width: 80%;
}

.button_container span:nth-of-type(3) {
    top: 27px;
    width: 60%;
}

.overlay {
    position: fixed;
    background: rgb(27 21 20 / 90%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(0% at 50% 0%);
    transition: clip-path 0.7s ease-in-out;
    overflow: hidden;
    z-index: 9;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    clip-path: circle(150% at 50% 0%);
      pointer-events: all;
}

.overlay.open li {
    -webkit-animation: fadeInTop 0.5s ease forwards;
    animation: fadeInTop 0.5s ease forwards;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.overlay nav {
    position: relative;
    height: 100%;
    top: 0;
    transform: translateY(0%);
    font-size: 30px;
    font-family: var(--heading-font);
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: auto;
}

.overlay ul li {
    display: block;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    font-family: var(--heading-font);
	letter-spacing:2px;
}
.gt_float_switcher .gt-selected, .gt_float_switcher{
/* 	background:none !important; */
	box-shadow:none !important;
}
/* .gt_float_switcher .gt-selected .gt-current-lang{
	color:#fff !important;
} */


.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 100%;
}

.overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: var(--sec-color);
    transition: 0.35s;
}

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        top: 20%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        top: 20%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}
