:root {
    --main-color: #643271;
    --sec-color:#D98B1C;
    --heading-color:#232331;
    --text-color: #1E1E1E;
    --white-color:#fff;
    --black-color:#000;
    --main-font: "Figtree", sans-serif;
    --heading-font: "Figtree", sans-serif;
    --button-font: "Figtree", sans-serif;
}

@media (min-width:1450px){
    .container{
        max-width: 1500px;
    }
}
@media (max-width:1600px){
    .slide .slide__content--headings .title{
        font-size: 50px;
    }
     .after_about_hm .abt_text_white {
        padding: 0px 0;
    }

}
@media (max-width:1440px){
      .after_about_hm .abt_text_white {
        padding: 0px 0;
        overflow: hidden;
    }
       .srl {
        max-height: 218px;
    }
	#cssmenu > ul > li > a {
		padding: 16px 13px;
	}
	.project h4{
		font-size:18px;
	}
	.slide__img img.overlay-image{
	        height: 78%;
	}
}
@media (max-width:1366px){
    .logo{
        width: 160px;
        display: flex;
        align-items: center;
    }
	#cssmenu > ul > li > a {
    padding: 16px 10px;
 font-size: 14px;
}
    .heading_hp h2 {
        font-size: 40px;
    }
    .heading_hp p {
        font-size: 15px;
        line-height: 24px;
    }
    .clild_sec {
        padding: 49px 15px 15px;
    }
    .abt_text_white {
        overflow: hidden;
        overflow-y: auto;
        padding: 0;
    }
    .after_abt {
        padding: 25px 0;
    }
     .after_about_hm .img_abt {
        margin-top: 0px;
    }
    .after_about_hm .abt-box-1{
        height: 550px;
    }
        .after_about_hm .abt-box-1 {
       height: 700px;
   }
    .after_about_hm .img_abt {
        margin-top: 0px;
    }
    .after_about_hm .abt-box-1{
        height: 550px;
    }
      .srl {
        max-height: 238px;
    }
        .slide__img img.overlay-image {
        height: 74%;
    }
    .copy_1 .row{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

@media (max-width:1280px){
.slide__img img.overlay-image{
    bottom: 0px;
}

}
@media (max-width:1200px){

    .after_about_hm .abt-box-1 {
        height: 540px;
    }
        .heading_hp h2 {
        font-size: 36px;
    }

}
@media (max-width:1024px){
    .logo {
        width: auto;
    }
    .main-menu .logo a{
        position: relative;
        padding: 0;
    }
    .main-menu .navbar{
        flex-wrap: inherit;
    }

    .logo a img {
        width: 147px;
    }
    .bg_cannabis_right, .bg_cannabis{
        display: none;
    }
    .one_cli {
        transform: rotate(360deg);
    }
    .one_cli1 {
        transform: rotate(0deg);
    }
    .after_about_hm .abt-box-1 {
    height: 700px;
}
  .after_about_hm .abt-box-1 {
        height: 688px;
    }
    .after_about_hm .abt-box-1 {
        height: 690px;
    }
    .slide .slide__content--headings .title {
        font-size: 40px;
    }

    .testimonial_box .client-text h2{
        font-size: 20px;
    }
        .slide__img img.overlay-image {
        height: 70%;
    }
    .slide .slide__content{
        z-index: 1;
    }
}
@media (max-width:991px){
    .our_mis{
        width: 700px;
    }
    .slider, .slide {
        height: 100vh;
      }
      .after_about_hm .abt-box-1 {
          height: auto;
         background-image: none;
}
.after_about_hm .abt_text_white h4, .after_about_hm .abt_text_white p{
  color: var(--white-color);
}
    .srl {
        overflow-y: hidden;
    }
    .after_about_hm .abt_text_white h4, .after_about_hm .abt_text_white p {
        color: var(--white-color);
    }
    .abt_text_white {
        height: 205px;
    }
    .about_sec{
        padding: 80px 0px 80px 0;
    }
    .dark-logo{
        width: 90px;
    }
    .navbar{
    justify-content: flex-end;
}
}

@media (max-width:768px){
    .about_sec:before {
        height: 50%;
        width: 16%;
    }
    .right_login{
        display: none;
    }
    /*.main_menu {*/
    /*    padding: 10px 0;*/
    /*}*/
    .slide .slide__content.slide__content__left{
        width: 60%;
    }
    .slider, .slide {
        height: 80vh;
    }
    .tow_box_j{
        margin-bottom: 25px;
    }
    .quick_links_ul ul li {
        padding: 0 10px;
    }
    .bg_step, .bg_fight{
        display: none;
    }
    .slide .slide__content--headings .title {
        font-size: 40px;
    }
    .slide .slide__content--headings .top-title{
        font-size: 16px;
    }
    .inner_banner_ontent h2 {
        font-size: 42px;
    }
    .abt_img_type2 {
        padding: 0 0 20px 0px;
        width: 100%;
    }
    .inner_banner_ontent h1 {
        font-size: 40px;
    }
.real_solution_sec{
    padding: 60px 0;
}
.key_feature_sec {
    padding: 60px 0;
}
.testimonial_sec{
    padding: 60px 0;
}
.slide .slide__content{
    z-index: 1;
}
/*.slide__img img.overlay-image{*/
/*    width: 60%;*/
/*}*/

}

@media (max-width:767px){
    .about_sec:before {
        content: '';
        height: 27%;
        width: 56%;
    }
	.slide__img img.overlay-image {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 100%;
    height: 60%;
		object-fit: contain;}
    .inner_after_about .img_abt {
        margin-top: 30px;
    }
	.video_part {
    width: 121%;
		height: 114%;}
    .red_btn {
        padding: 12px 22px;
        letter-spacing: 1px;
        font-size: 13px;
    }
    .heading_hp h2 {
        font-size: 25px;
    }
    .logo a img {
        width: 100px;
    }
    .banner_text h1 {
        font-size: 40px;
    }
    .slide .slide__content {
        width: 80%;
    }
    .slide .slide__content.slide__content__left {
        left: 6%;
        transform: translate(0%, 0%);
        width: 90%;
        top: 20%;
		z-index:1;
    }
    .hdr_manu_nav {
        width: 37px;
        height: 32px;
    }
    .main_menu_hdr label .burger {
        width: 24px;
        height: 16px;
    }
    .about_sec {
        padding: 50px 0;
    }
    .easy_step_box ul{
        display: block;
    }
    .svg_animation{
        display: none;
    }
    .quick_links_ul ul {
        display: block;
    }
    .ucm_fre {
        font-size: 100px;
        line-height: 118px;
    }
    .step_box {
        margin: 0 auto 27px;
    }
    .slide .slide__content--headings .title {
        font-size: 20px;
    }
    .about_counter {
        padding: 0 7px 25px;
    }
    .logo a{
        width: auto;
    }
    .last_card h3 {
        font-size: 30px;
    }
    .contact-form{
        padding:0;
    }
    .inner_banner_ontent h2 {
        font-size: 35px;
    }
    .our_mis{
        width: 100%;
    }
    .dor_ber {
        padding: 35px 0;
    }
    .box_before_after:before{
        content: none;
    }
    .our_mis:before{
        content: none;
    }
    .inner_banner_ontent h1 {
        font-size: 35px;
    }
    .inner_banner_sec {
        padding: 134px 0 85px 0;
    }
    .gall_small{
        padding: 4px;
    }
    .gallery_img{
        width: 100%;
    }
    .inner_after_about .after_abt {
        padding: 24px;
    }
	.map-point {
        width: 128px;
        height: 100px;
	}
    .nyc1 {
        top: 32%;
        right: 64%;
        transform: translate(63%, -50%);
    }
    .nyc2 {
		top: 58%;
        right: 86%;
        transform: translate(65%, -68%);
    }
    .nyc3 {
    	top: 58%;
   		right: 47%;
    	transform: translate(47%, -58%);
    }
    .map-location-details{
        width: 160px;
        height: 160px;
        padding: 8px;
    }
    .map-location-details p{
        font-size: 14px;
    }
    .project{
        min-height: auto;
    }
    .project_sec .row .col .project .text-box{
        height: auto;
    }
}

@media (max-width:576px){
    .right_top{
        /*flex-direction: column-reverse;*/
        /*gap: 45px;*/
    }
    .main_menu{
        padding: 4px 0px;
    }
    .login_prf a{
        padding: 3px 4px;
        font-size: 12px;
    }
    .menu-wrepper{
        flex-direction: row-reverse;
        /*gap: 5px;*/
        position: relative;
        /*right: -44px;*/
    }
    .login_prf {
        padding: 0 2px;
    }
    .login-sec {
    padding: 50px 0;
}
.login_prf a span{
    width: 15px;
    height: 15px;
    top: -1px;
    left: -2%;
}
.login_prf a span i {
    font-size: 9px;
}
.navbar{
    justify-content: flex-end;
}
.goog-te-gadget .goog-te-combo {
    padding: 3px 0px;
    width: 100px;
    font-size: 10px;
}
.button_container{
    height: 30px;
    width: 30px;
}
.button_container span:nth-of-type(3) {
    top: 21px;
}
.button_container span:nth-of-type(2) {
    top: 13px;
}
.button_container span{
    top: 5px;
}
.login_prf a {
    padding: 3px 6px;
}

}


@media (max-width:380px){
    .ucm_fre {
        font-size: 58px;
        line-height: 60px;
    }
    .count {
        font-size: 32px;
    }
    .slide__img img.overlay-image{
        height: 50%;
    }
    .about_text.heading_hp h4, h3{
        font-size: 18px;
    }
    .overlay ul li a{
        font-size: 20px;
    }
    .main_menu_hdr{
        padding: 5px 0px;
    }
        .key_feature_sec {
        padding: 40px 0;
    }
    .after_about.after_about_hm {
    padding: 30px 0px;
    }
    .real_solution_sec {
        padding: 40px 0;
    }
        .testimonial_sec {
        padding: 40px 0;
    }
      
}

@media (max-width:360px){
        .login_prf a span{
        /*display: none;*/
        width: 18px;
        height: 18px;
    }
        .login_prf a {
        padding: 4px 4px;
        font-size: 14px;
    }
    .login_prf a span i {
        font-size: 10px;
    }
    .goog-te-gadget .goog-te-combo{
        padding: 4px 0px;
    }
    .button_container span {
        top: 9px;
        height: 2px;
    }
        .button_container span:nth-of-type(2) {
        top: 14px;
    }
        .button_container span:nth-of-type(3) {
        top: 19px;
    }
        .button_container.active span:nth-of-type(3) {
        top: 22px;
    }
    .button_container.active span {
        top: 7px;
    }
}
