:root {
    --yellow-color: #ff6632;
    --main-color: #202d4d;
    --heading-color:#303030;
    --text-color: #1E1E1E;
    --white-color:#fff;
    --black-color:#000;
    --main-font: "Nunito", sans-serif;
    --heading-font: "Nunito", sans-serif;
    --button-font: "Nunito", sans-serif;
}
@media (max-width:1700px){
.feature_img .sales{
    left: -103px;
}
}
@media (max-width:1600px){
    .slide .slide__content--headings .title{
        font-size: 50px;
    }
    .container-fluid {
        padding: 0 6%;
    }
    .copy_right_text{
        flex-direction: column;
        gap: 20px;
    }
    .feature_img{
        height: 400px;
    }
    .feature_img .sales{
        left: -90px;
    }
}
@media (max-width:1440px){
    .container-fluid {
        padding: 0 3%;
    }
    .slide .slide__content {
        width: 55%;
    }
    .slide .slide__content--headings .title {
        font-size: 45px;
    }
    .feature_img .sales {
        left: -88px;
        top: 17px;
    }
    .filter_resilt{
        padding: 20px;
    }

}
@media (max-width:1366px){

    .heading_hp h2 {
        font-size: 40px;
    }
    .heading_hp p {
        font-size: 15px;
        line-height: 24px;
    }
    .middle_arrow .slick-nav.next-arrow{
        right: 45%;
    }
    .middle_arrow .slick-nav.prev-arrow {
        left: 45%;
    }
    .left_ali p, .left_ali a {
        font-size: 14px;
    }
    .img_servic {
        width: 270px;
        height: 270px;
    }

    .left_ali h4{
        font-size: 18px;
    }
    .form-area-wrepper{
        padding: 42px 50px;
    }
    .feature_img {
        height: 300px;
    }
    .feature_img .sales {
        left: -84px;
        top: 15px;
    }
    .filter .padding_filter {
        padding: 20px 20px 20px 20px;
    }
    /* .d-position ul li::before{
        left: -100px;
    } */
    .shopping_cart_sec .d-position ul li::before{
        left: -85px;
    }
}
@media (max-width:1280px){
    .left_ali p, .left_ali a {
        font-size: 13px;
    }
    .slide .slide__content--headings .title{
        font-size: 38px;
    }
    .news-letter.news-letter-center .news-heading{
        font-size: 45px;
    line-height: 50px;
    color: #fff;
    }
    .filter .form-group label{
        font-size: 14px;
    }
    .filter_resilt {
        padding: 12px;
    }
    .filter_res_text h4{
        font-size: 18px;
    }
    .contact-card-wprepper{
        padding: 10px;
    }
    .feature_img .sales {
        left: -77px;
        top: 15px;
    }
    .shopping_cart_sec .d-position ul li::before{
        left: -90px;
    }
}
@media (max-width:1024px){
    .logo {
        width: auto;
    }
    .main-menu .logo a{
        position: relative;
        padding: 0;
    }
    .main-menu .navbar{
        flex-wrap: inherit;
    }


    .right_login{
        padding: 6px 0px 3px;
    }
    .search_top{
        display: none;
    }
    .slide .slide__content--headings .title {
        font-size: 40px;
    }
    .blog_slider{
        margin-top: 30px;
    }
    /* .d-position ul li::before{
        left: -66px;
        width: 125px;
    } */
    .shopping_cart_sec .d-position ul{
        display: block !important;
    }
    .shopping_cart_sec .d-position ul li::before {
        left: 20px;
        width: 2px;
    }
    .shopping_cart_sec .d-position ul li{
        justify-content: flex-start;
        flex-direction: row;
        margin: 35px 0px;
        gap: 20px;
    }
    .shopping_cart_sec .d-position ul li::before {
        width: 2px;
        height: 100px;
        top: -65px;
        left: 19px;
    }
}
@media (max-width:991px){
    .login a {
        font-size: 12px;
    }
    .ftr_line_link ul li{
        padding: 0 10px;
    }
    .ftr_line_link ul li a {
        font-size: 13px;
        letter-spacing: 0px;
    }
    .long-card{
        padding-top: 20px;
    }
    .left_logo.left_logo_top{
        text-align: center;
        border-bottom: 1px solid #5d5d5d;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .ftr_logo_sec .d-flex{
        justify-content: center;
    }
    .slide .slide__content{
        width: 80%;
    }
    .slide .slide__content.slide__content__left{
        left: 0%;
        transform: translate(16%, -50%);
    }
    .menu-with-login-right{
        gap: 0px;
    }
    .search-container {
    position: absolute;
    right: 66px;
    top: 78px;
}
.main_menu_hdr.is-sticky #cssmenu #menu-button:before{
    background-color: var(--text-color);
}
.main_menu_hdr.is-sticky #cssmenu #menu-button:after{
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
}
.filter_resilt{
    margin-top: 20px;
}
.form-area-wrepper{
    margin-top: 10px;
}
.user-profile-box{
    margin-bottom: 10px;
}
.dashboard_left{
    margin-bottom: 10px;
}
    /* .d-position ul li::before {
        left: -100px;
        width: 150px;
    } */
    .img-with-name h4 {
    width: 190px;
    font-size: 14px;
}
.wishlist_cart_sec .cart_product .cart_images {
    width: 60px;
    height: 80px;
}
.add_wishlist i {
    font-size: 14px;
}
.cart_text .red_btn {
    padding: 4px 12px;
    font-size: 10px;
}
.shopping_cart_sec .cart_item {
    padding: 10px;
}
.wish_head .right_p_text {
    width: 70px;
}
.feature_img .sales {
        left: -115px;
        top: 15px;
    }
.shopping_cart_sec .d-position ul li::before{
    left: 20px;
}
}
@media (max-width:768px){
    .right_login {
        padding: 0px 5px 0px;
        border-radius: 0 0px;
    }
    .right_top {
        display: flex;
        align-items: center;
    }
    .icon_c a {
        padding: 4px;
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
    .main_menu {
        padding: 10px 0;
    }
    .slide .slide__content.slide__content__left{
        width: 60%;
    }
    .slider, .slide {
        height: 100vh;
    }
    .middle_arrow .slick-nav.next-arrow {
        right: 43%;
    }
    .middle_arrow .slick-nav.prev-arrow {
        left: 43%;
    }
    .tow_box_j{
        margin-bottom: 25px;
    }
    .quick_links_ul ul li {
        padding: 0 10px;
    }
    .slide .slide__content--headings .title {
        font-size: 40px;
    }
    .slide .slide__content--headings .top-title{
        font-size: 16px;
    }
    /*.back_main{*/
    /*    display: none;*/
    /*}*/
    .profile_img_round{
        margin-right: 10px
    }
    .logo a{
        width: 70px;
    }
    .feature_img .sales {
        left: -85px;
        top: 15px;
    }
}
@media (max-width:767px){
    .red_btn {
        padding: 12px 22px;
        letter-spacing: 1px;
        font-size: 13px;
    }
    .heading_hp h2 {
        font-size: 25px;
    }
    .logo a img {
        width: 60px;
    }
    .banner_text h1 {
        font-size: 40px;
    }
    .slide .slide__content {
        width: 80%;
    }
    .slide .slide__content.slide__content__left {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    .middle_arrow .slick-nav.next-arrow {
        right: 38%;
    }
    .middle_arrow .slick-nav.prev-arrow {
        left: 38%;
    }
    .hdr_manu_nav {
        width: 37px;
        height: 32px;
    }
    .main_menu_hdr label .burger {
        width: 24px;
        height: 16px;
    }
    .img_servic {
        width: 170px;
        height: 170px;
    }
    .before_ftr p {
        margin-bottom: 20px;
    }
    .quick_links_ul ul {
        display: block;
    }
    .slide .slide__content--headings .title {
        font-size: 30px;
    }
    .logo a{
        width: auto;
        margin-right: 5px;
    }
    .ftr_line_link ul{
        display: block;
        columns: 2;
        text-align: left;
    }
    .location_btn{
    width: 100px;
}
.order-header h5{
    font-size: 16px;
}
.shopping_cart_sec .red_btn {
        padding: 6px 10px;
        letter-spacing: 0px;
        font-size: 12px;
    }
    .cart_product{
        flex-direction: column;
    }
    .p-details-main-div{
        padding-left: 0px;
    }
    .feature_img .sales {
        left: -313px;
        top: 15px;
    }
    /* .d-position ul li::before {
        left: -70px;
        width: 130px;
    } */
    .order-items .text-center .mb-0{
        text-align: right !important;
    }
    .order-items .row .col-md-6 h6{
        margin-top: 15px;
    }
    .payment-info .bg-light.p-3{
        padding: 0rem !important;
    }
}
@media (max-width:576px){
    .slick-nav.next-arrow {
        left: auto;
        right: 0%;
    }
    .slick-nav.prev-arrow {
    left: 0%;
    }
    .new_arr_text {
    position: absolute;
    left: 8%;
    width: 58%;
    }
    .new_arr_bg img{
        height: 275px;
        object-fit: cover;
    }
    .slider, .slide {
        height: 60vh;
    }
    .inner_banner_ontent h2{
        font-size: 30px;
    }
    .inner_banner_sec {
        padding: 120px 0 80px 0;
    }
        .slide .slide__content--headings .title {
        font-size: 20px;
    }
        .news-letter.news-letter-center .news-heading {
        font-size: 24px;
        line-height: 30px;
    }
    .slide .slide__content.slide__content__left {
        left: 50%;
        transform: translate(-50%, -40%);
    }
    .search-container {
        position: absolute;
        right: 0px;
        top: 60px;
    }
    .search-container input[type="text"] {
    font-size: 16px;
    margin: 10px;
    width: auto;
}
.top-bar-text{
    font-size: 14px;
}
#cssmenu #menu-button{
    width: 15px;
}
#cssmenu #menu-button:before{
    right: 0px;
}
#cssmenu #menu-button:after{
    right: 0px;
}
.shoping_cart{
    width: 35px;
    height: 35px;
}
.search-icon{
    width: 35px;
    height: 35px;
}
.profile_img_round{
    width: 35px;
    height: 35px;
}
.news-letter .news-heading{
    font-size: 26px;
}
.ftr_logo_sec .ftr_logo {
    width: 70px;
}
.news-letter .news p {
    font-size: 15px;
}
.filter_resilt .d-flex{
    justify-content: start !important;
    margin-top: 5px;
}
.details-snippet1 .title{
        font-size: 1.6rem;
    }
    .details-snippet1 .price{
        font-size:1.3rem;
    }
    .profile_img_round {
        margin-right: 0px;
    }
    .shoping_cart{
        margin-right: 5px;
    }
    .right_login{
        gap: 5px;
    }
    .feature_img {
        height: 450px;
    }
    .news-letter{
        background-position: 80% center;
    }
    .profile_dropdown .dropdown-menu .dropdown-item{
        font-size: 14px;
        padding: 2px 15px;
    }
    .user-profile-box .user-img {
        width: 150px;
        height: 150px;
    }
    .other-information{
        padding: 50px 20px;
    }
    .others-details ul{
        padding: 0px;
    }
    .d-position ul{
        display: block !important;
    }
    .d-position ul li{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        margin: 35px 0px;
        gap: 20px;
    }
    .d-position ul li p{
        margin-bottom: 0px;
    }
    .d-position ul li::before {
        width: 2px;
        height: 100px;
        top: -65px;
        left: 19px;
    }
    .delevry-sumry .info-del p{
        font-size: 14px;
    }
    .delevry-sumry .info-del h4 {
    font-size: 16px;
    }
    .order-id-box{
        padding: 25px;
    }
    .delevry-sumry{
        padding: 25px;
    }
.img-with-name h4{
    width: 100%;
    font-size: 16px;
}
.img-with-name{
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
}
.wishlist_cart_sec .cart_text{
    position: absolute;
    right: 15px;
    width: auto;
    padding: 0px;
}
.wishlist_cart_sec .cart_product{
    position: relative;
}
.add-to-cart-sec .cart_images{
    height: 450px;
    border-right: 0px;
}
.d-position ul li span{
        width: 40px;
    height: 40px;
}
.d-position ul li span i{
    font-size: 16px;
}
.filter .padding_filter{
    padding: 20px 20px 20px 20px;
}
    .feature_img .sales {
        left: -187px;
        top: 15px;
    }
    .inner-product-list nav{
        display: inline-table;
    }
    .inner-product-list .cd-breadcrumb li{
        margin: 0em 0;
    }
    .order-id-box .form-control {
    height: 40px;
}
.order-details-card .order-header h4{
    font-size: 16px;
}
.order-details-card .order-header p{
    font-size: 14px;
}
.shipping-address h5{
    font-size: 16px;
}
.shipping-address p{
    font-size: 14px;
}
.order-items h5{
    font-size: 16px;
}
.order-items p{
    font-size: 14px;
}
.order-summary h4{
    font-size: 16px;
}
.order-summary .bill_text li{
    font-size: 14px;
}
.total_payable div{
    font-size: 14px;
}
.payment-info h5{
    font-size: 16px;
}
.payment-info p{
    font-size: 14px;
}
}
@media (max-width:425.98px){
    .img_servic {
        width: 155px;
        height: 155px;
    }
    .ser_line h4 {
        font-size: 14px;
    }
    .logo a img {
        width: 50px;
    }
    .shoping_cart{
        margin-right: 4px;
    }
    .right_login{
         gap: 4px;
    }
    .profile_img_round {
        margin-right: 0px;
    }
    .news-letter [type="email"]{
            padding: 8px 10px;
            margin: 0px;
            height: 55px;
            border-radius: 40px;
    }
    .news-letter .bt{
        padding: 8px 15px;
        margin-left: -112px;
    }
    .slide .slide__content--headings .top-title{
        font-size: 14px;
        line-height: 20px;
    }
        .heading_hp p {
        font-size: 14px;
        line-height: 20px;
    }
    .long-card .center-box p{
        font-size: 14px;
        line-height: 20px;
    }
    .latest_filter{
        padding: 0px;
    }
    .filter_res_text h4 {
        font-size: 16px;
        letter-spacing: 0px;
    }
    .inner_banner_sec {
        padding: 100px 0 60px 0;
    }
    .checkout_item{
        padding: 10px;
    }
    .form-area-wrepper {
        padding: 20px 20px;
    }
    .contact-card-wprepper .con-card .icon{
        margin-bottom: 7px;
    }
    .bg_right_img .pos_zi{
        padding: 15px 10px 25px 10px;
    }
    .user-profile-box .user-img {
        width: 120px;
        height: 120px;
    }
     /* .d-position ul li span{
        width: 50px;
        height: 50px;
    } */
    /* .d-position ul li::before{
        left: 23px;
    } */
    .order-header.d-flex{
        display: block !important;
    }
    .order-actions.text-end{
        text-align: left !important;
    }
    .order-header.mb-3{
        margin-bottom: 0rem !important;
    }
    .slid_big_img{
        height: 450px;
    }
        .feature_img .sales {
        left: -153px;
        top: 20px;
    }
    .top-bar-text {
        font-size: 12px;
    }
}

@media (max-width:380px){
  .feature_img .sales {
        left: -133px;
        top: 25px;
    }
}
@media (max-width:375.98px){
    .img_servic {
        width: 130px;
        height: 130px;
    }
    .logo a img {
        width: 40px;
    }
        .top-bar-text {
        font-size: 12px;
    }
    .search-icon {
         width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-icon i{
        font-size: 10px;
    }
    .shoping_cart {
         width: 25px;
        height: 25px;
        padding: 10px;
    }
    .profile_img_round {
        width: 25px;
        height: 25px;
    }
    .shoping_cart i{
        font-size: 10px;
    }
    .cart_count{
        right: -3px;
        top: -4px;
        width: 12px;
        height: 12px;
        font-size: 8px;
    }
    .news-letter .bt {
        padding: 8px 15px;
        margin-left: -106px;
        font-size: 14px;
    }
    .red_btn{
        padding: 8px 15px;
    }
    .news-letter [type="email"]{
        height: 50px;
    }

    .filter h2.accordion-header button{
        font-size: 18px;
    }
    .filter .accordion-button:after{
           background-size: 10px;
    }
    .filter .form-group label:before{
        padding: 7px;
    }
    .filter .form-group input:checked+label:after{
        left: 5px;
    }
    .search-container .search-icon {
    position: absolute;
    top: 12px;
    right: 5px;
}
    .search-container input[type="text"] {
        font-size: 14px;
        width: 250px;
        position: relative;
    }
    .search-toggle.opened .search-icon.icon-close i{
        position: relative;
        top: -3px;
        left: -1px;
    }
    .social-box ul li{
        width: 30px;
        height: 30px;
    }
    .social-box{
        height: 35px;
    }
      
}

@media (max-width: 350px) {
    #cssmenu #menu-button{
        padding: 17px 20px 17px 0px;
    }
}

